{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": ["@babel/plugin-transform-runtime"],
    "env": {
          "development" : {
            "compact": false
          }
        }
    
}
